body {
    margin: 0;
    padding: 0;
}

.title {
    background-color: black;
    color: white;
    text-align: center;
}

.title h1 {
    margin: 0;
}

.date li a {
    text-decoration: none;
    color: black;
}

.date ul {
    display: flex;
    list-style: none;    
}

.date li {
    margin: 0 1em;
}